.wrap,
.containerVT {
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px
}

.city p {
    display: none;
}

@media screen and (max-width: 426px) {
    .city-wrap {
        display: block;
    }
}