.carousel {
    margin: auto;
    height: auto;
    z-index: -1;
}

@media (max-width: 900px) {
    .carousel {
        width: auto;
        height: auto;
    }
}

.carousel-caption {
    top: 30%;
    left: 10%;
    bottom: auto;
    text-align: left;
    width: 50%;
}

.carousel-caption h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.carousel-caption .button1 {
    font-size: 15px;
    width: 200px;
    height: 50px;
    text-align: left;
    margin-top: 30px;
}

.carousel-caption i {
    align-items: center;
    size: 15px;
}

.carousel-caption .textButton1 {
    display: inline;
    margin-right: 10px;
    text-align: left;
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 0;
}

@media screen and (max-width: 780px) {
    .carousel-caption {
        width: 70%;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .carousel-caption h2 {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 15px;
        width: 50%;
        display: none;
    }
    .carousel-caption .button1 {
        font-size: 0px;
        width: 180px;
        height: 50px;
        margin-top: 20px;
        margin-left: 150px;
        justify-items: center;
    }
    .carousel-caption .textButton1 {
        margin-left: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 652px) {
    .carousel-caption .button1 {
        display: none;
    }
}

@media screen and (max-width: 415px) {
    .carousel-caption h2 {
        margin-bottom: 20px;
        font-size: 13px;
        text-align: center;
    }
}