* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed!important;
    display: flex;
    flex-wrap: nowrap!important;
    align-items: flex-start!important;
    height: 75px;
    background-color: transparent;
    padding: 20px;
    width: 100%;
    z-index: 100;
    transition: 0.3s ease-in;
    margin-top: 10px;
}

.navbar.active {
    background-color: #1e02bd;
    margin-top: 0;
}

.navbar.solid {
    background-color: #490D40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.solid .Home,
.navbar.solid .Store,
.navbar.solid .vTour,
.navbar.solid .about {
    color: #0400d8;
}

.navbar .img-wrapper {
    width: 200px;
    height: auto;
    margin: auto 30px;
    justify-content: center;
}

.navbar .img-wrapper img {
    width: 50px;
    height: auto;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin-right: 40px;
}

.Home,
.Store,
.vTour,
.about {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    margin: 0 20px;
    cursor: pointer;
}

.Home :hover,
.Store :hover,
.vTour :hover,
.about :hover {
    color: #c5ecff;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 1119px) {
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: white;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
        z-index: 100;
    }
    .Home,
    .Store,
    .vTour,
    .about {
        color: #0133D4;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }
    .Home :hover,
    .Store :hover,
    .vTour :hover,
    .about :hover {
        background-color: #0133D4;
        color: white;
    }
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: #0133D4;
        background: none;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}

@media screen and (max-width: 780px) {}