.carousel {
    margin: auto;
    height: auto;
    z-index: -1;
}

@media (max-width: 900px) {
    .carousel {
        width: auto;
        height: auto;
    }
}

.carousel-caption {
    text-align: center;
    justify-content: center;
    position: relative;
    top: 35%;
}

.carousel-caption h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: -1.76555px;
    text-align: center;
    line-height: 100%;
}

.carousel-caption p {
    text-align: center;
}

.carousel-caption .button1 {
    font-size: 15px;
    width: 200px;
    height: 60px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 8.05871px 20px rgba(60, 106, 255, 0.72);
}

.carousel-caption i {
    align-items: center;
    size: 15px;
}

.carousel-caption .textButton1 {
    display: inline;
    margin-right: 10px;
    text-align: left;
}

.overlay {
    position: relative;
    /* Sit on top of the page content */
    display: block;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 0;
}

@media screen and (max-width: 780px) {
    /* .carousel-caption {
        width: 70%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } */
    .carousel-caption h2 {
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
    }
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 15px;
        width: 50%;
        display: none;
    }
    .carousel-caption .button1 {
        font-size: auto;
        width: 180px;
        height: 50px;
        margin-top: 20px;
        margin-left: -15px;
        justify-items: center;
    }
    .carousel-caption .textButton1 {
        margin-left: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 652px) {
    .carousel-caption .button1 {
        display: none;
    }
}

@media screen and (max-width: 415px) {
    .carousel-caption h2 {
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
        letter-spacing: 0px;
    }
}